/* НЕГИЗГИ СТИЛЬДЕРДИН БАШЫ */
body {
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
ul, p, h1, h2, h4{
    margin: 0;
    padding: 0;
}
/* НЕГИЗГИ СТИЛЬДЕРдин АЯГЫ */


/* УНИВЕРСАЛДУУ СТИЛДЕР БАШЫ */
.container {
    width: 1200px;
    margin: 0 auto;
}
.red {color: #e53453;}
.blue {color: #00bcd4;}
.orange {color: orange;}
/* УНИВЕРСАЛДУУ СТИЛДЕР АЯГЫ */



/* 14 -сабак */


/* HEADER START */
.first-block {
    background-color:#f7f7f7;
    padding: 12px 0;
}
.first-block .container, .third-block .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
}
ul li {
    margin-right: 26px;
    color: #4d4a68;
    font-size: 18px ;
    font-weight: 500;
}

.menu li i  {
    margin-right: 6px;

}
.menu li {
    padding: 2px 18px 4px 0;
    border-right: 1px solid #e3e3e3;
}
.menu li:last-child {
    border-right: 0;
}

.gift {
    position: relative;
}
.number {
    position: absolute;
    top: -4px;
    right: 50px;
    background: #e53453;
    font-size: 12px;
    border-radius: 50%;
    padding: 3px;
    width: 18px;
    color: white;
}





.second-block ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.circle {
    width: 40px;
    height: 40px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.second-menu {
    display: flex;
    align-items: center;
    border-right: 1px solid #e3e3e3;
    padding-right: 50px;
}

.second-menu:first-child, .second-menu:last-child {
    border-right: 0;
}

.second-menu .left {
    margin-right: 14px;
}
.little_text {
    font-size: 15px;
    color: grey;
}
.my-p {
    font-size: 16px;
    font-weight: 700;
}





.third-block {
    background-color: #f7f7f7;
    padding: 8px 0;
}
.dropmenu {
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    background-color: #f7f7f7;
    padding: 30px 20px;
    z-index: 2;
    width: 180px;

}
.dropmenu li {
    margin-bottom: 10px;
    color: #4d4a68;

}
.nav_menu:hover .dropmenu {
    display: block;
}
.nav_menu:hover  {
   background-color: #7cd0f5;
}
.nav_menu:hover  {
    color: white;
 }
.nav_menu {
    transition: .3s;
    padding: 8px 15px;
    border-radius: 23px;
    position: relative;
}
.nav_menu a {
    color: #4d4a68;
    text-decoration: none;
}
.search {
    border: none;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 26px;
}
/* HEADER END */



/* MAIN CONTENT START  */
/* 17-sabak */
.head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 16px ;
    border-bottom: 1px solid rgb(204, 203, 203);
    padding-bottom: 10px;
}
.head-title h2 {
    color: #4d4a68;
    font-size: 30px;
}
.head-title a {
    color: #4d4a68;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}
.head-title a i {
    margin-left: 5px;
}

.products {
    display: flex;
    justify-content: space-between;
}
.product-card {
    display: inline-block;
    position: relative;
    min-height: 340px ;
    height: 340px;
    width: 210px;
}
.product-card .img {
    max-height: 210px;
    overflow: hidden;
    margin-bottom: 14px;
}
.product-card .img img {
    transition: .3s;
}
.info h4 {
    color: #4d4a68;
}
.stars {
    margin: 5px 0;
    font-size: 14px;
    color: orange;
}
.stars span {
    color: grey;
    font-size: 12px;
} 
.prices{
    margin: 5px 0;
}
.prices span {
    font-weight: 700;
    color: #4d4a68;
}
.prices del {
    color: grey;
    font-size: 14px;
}
.my-tooltip {
    position: absolute;
    top: 8px;
    right: -10px;
    padding: 3px 7px;
    border-radius: 5px;
    color: white;
    z-index: 1;
}
.new {
    background-color: yellowgreen;
}
.discount {
    background-color: orange;
}
.product-icon {
    padding-left: 6px;
}
.product-icon .circle {
    margin-right: 5px;
    background-color: #f4f4f4;
}

.product-icon .circle:hover {
    background-color: #00bcd4;
}
.product-icon {
    display: none;
}
.product-card:hover .product-icon {
    display: flex;
}
.product-card:hover img {
    transform: scale(1.1);
}
.product-card:hover .stars {
    display: none;
}
/* MAIN CONTENT END  */



/* FOOTER START  */
footer {
    padding-bottom: 60px;
}
.footer-list {
    flex-direction: column;
}

.italic-text {
    font-size: 16px;
    color: #4d4a68;
    font-style: italic;
    margin: 30px 0;
}

.footer-list a {
    font-size: 16px;
    color: grey;
    text-decoration: none;
}
.footer-title {
    color: #4d4a68;
    position: relative;
}

.footer-title:after {
    content: '';
    position: absolute;
    background-color: #e0e0e0;
    width: 40%;
    height: 4px;
    bottom: -15px;
    left: 0;
}

.footer-menu {
    flex-direction: column;
}
.footer-menu a {
    text-decoration: none;
    color: #90a4ae;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    transition: .4s;
}
.footer-menu a:hover {
    margin-left: 15px;
}
.gallery-insta {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.social i {
    margin-right: 20px;
    color: grey;
    font-size: 20px;
}
.right-side {
    display: flex;
    justify-content: flex-end;
}
.fname {
    margin-left: 30px;
    color: grey;
}
.second-footer {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(228, 227, 227);
}
.copy {
    color: rgb(170, 168, 168);
}
.third-footer {
    padding-top: 40px;
}
/* FOOTER END  */



/* МОБИЛЬДИК АДАПТАЦИЯ */

/* 1 - резиновый 
2 - фиксированный */
@media (max-width: 1024px){
    .container {
        width: auto;
    }
    .second-menu {
        padding-right: 15px;
    }
    .product-card {
        margin-right: 20px;
    }
    .product-card:nth-child(4n) {
        margin-right: 0;
    }
    .products {
        flex-wrap: wrap;
    }
    .reklama-banner {
       margin: 0 auto;
       display: block;
    }
    .gallery-insta img {
        width: 40px;
    }
   
}

@media (max-width: 768px){
    .container{overflow: hidden;}
    .number {
        right: 43px;
        font-size: 8px;
        width: 14px;
    }
    ul li {
        margin-right: 10px!important;
        font-size: 14px;
    }
    .second-block img {
        width: 100px;
    }
    .my-p {
        font-size: 14px;
        font-weight: 500;
    }
    .circle{
        display: none;
    }
    .products{
        justify-content: left;
    }
    .product-card, .product-card:nth-child(4n) {
        margin-right: 30px;
    }
    .product-card:nth-child(3n) {
        margin-right: 0;
    }
    
}

@media (max-width: 420px){
    .first-block .container, .third-block .container {
        display: flex;
        flex-direction: column;
    }
    .menu:nth-child(1){
        margin-bottom: 20px;
    }
    .menu li {
        padding: 0 10px ;
    }
    ul li {
        margin-right: 0!important;
    }
    .second-menu:nth-child(3), .second-menu:nth-child(2) {
        display: none;
    }
    .nav {
        margin-bottom: 16px;
    }
    .products {
        justify-content: center;
    }
    .product-card {
        margin: 0;
    }
    .my-wrap {
        flex-direction: column;
        padding-left: 20px;
    }
    
}
/* МОБИЛЬДИК АДАПТАЦИЯ АЯГы*/